.appbar{
    background: linear-gradient(90deg, rgba(219,219,223,1) 0%, rgba(101,106,105,1) 0%, rgba(0,0,0,1) 100%);
}


.btn-contaner {
    margin-left: auto;

}


.btn-contaner  a{
    text-decoration: none;

}

.logo-Links{
    display:flex;
    justify-content: center;
    align-Items:center;
    text-decoration: none;
    font-weight: 900;
    padding: 20px;
    color:aliceblue
}

.logo-Links span{
    margin-left: 10px;
}