.login-form-container {
    background-color: rgb(219,219,223);
    width: 350px;
    border-radius: 5px;
    margin: 200px auto;
    border: 1px solid gray;


}

.login-form {
    width: 300px;
    padding: 20px;
}
